[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/nomad
ExecStart=/usr/bin/nomad $CMD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
